{{ define "style" }}{{ end }}
<head>
    <style>
        body{
            background-image: url("https://img.freepik.com/free-vector/white-abstract-background_23-2148810113.jpg?size=626&ext=jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100%;
        }
    </style>
</head>
{{ template "base" }}

Book information:<br><br>
<table>
{{range .}}
    <tr><td> {{.Isbn}} </td></tr>
    <tr><td><b> Title: {{.Title}} </b></td></tr>
    <tr><td> Author: {{.Author}} </td></tr>
    <tr><td> Price: {{.Price}} </td></tr>
{{end}}
</table>

</body>
</html>
